
@keyframes ajaxerLoader {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.ajaxer-status:empty { display:none; }
.ajaxer-status {
    margin-left: 45px;
    padding: 15px;
    margin-right:10px;

    max-width: 500px;
    text-align:justify;
}

.ajaxer-loader.ajaxer-call {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background-color:white;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 60px;
    min-width: 60px;
    transition: width 1s ease;
    border-radius:30px;
    box-shadow: 1px 1px 5px #0001;
    z-index:10;

}
.ajaxer-loader:after {
    animation: 0.5s linear infinite ajaxerLoader;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 30px;
    will-change: transform;

    z-index: 10;
}